* {
    margin: 0;
    padding: 0;
}



body{
    background-color: #eaf5ff;
    text-align: center;
}

 

div.CONTENEDOR-SUPERIOR{
    background-color: #eaf5ff;;
    position: relative;
    padding-top: 130px;
    
}

div.CONTENEDOR-INTERMEDIO {
    background-color: red;
    width: 200px;
    height: 200px;
}

div.CONTENEDOR-INFERIOR {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.NUBE-INFERIOR{
    bottom: 890px ;
    position: absolute;
    left:300px;

    

}

.NUBE-SUPERIOR{
    
    position: absolute;
    top:10px;
    right:300px;

}