
* {
    margin: 0;
    padding: 0;
}



body{
    background-color: #eaf5ff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.875rem;;
    text-align: center;
    background-image: linear-gradient(to bottom, 
    #e6fcff, #e0f7fe, #dbf2fc, #d6edfb, 
    #d3e8f9, #cfe4f8, #cbe1f8, #c8ddf7, 
    #c2daf7, #bcd7f8, #b6d5f8, #b0d2f8);

 /*    hola */

}





h1{

    font-family: 'Caveat', cursive;
    font-size: 5.625rem;
    margin: 50px  auto 0 auto;
    color: #6AABFD;
    line-height:2;

}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    margin: 60px;
    color: #597CCB;
    font-weight: normal;
    
}

h3{

    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    color: #6AABFD;
}
 
a{
    color: #5F99E3;
    text-decoration: none;
   
}

hr{
    border-style: none;
    border-top: 7px dotted whitesmoke;
    height: 1px;
    width: 4%;
    margin: auto;
   
}

div.CONTENEDOR-SUPERIOR{
    /* background-color: #eaf5ff;; */
    position: relative;
    padding-top: 160px;
  /*   background-color: #C6E0FF; */
    
}



.footer-link-contacto{
    font-size: 30px;
}


#ajustetamaño{
    height: 600px;
}

div.CONTENEDOR-INTERMEDIO {
    text-align:justify;
    text-align:center;
   
}

#ImagenPerfil{
    height: 350px;
    margin: 50px auto 10px auto;
    padding: 

}

.ImagenesHabilidades1{
  
  width: 30%;
  float: left;
  margin-right: 30px;
  
  
  
  
  
}

.ImagenesHabilidades2{
  
    width: 30%;
    float: right;
    margin-left: 30px;
   
  }

  .PosDerecha{
     /*  text-align: right; */
    

  }

div.CONTENEDOR-INFERIOR {




    
}

.SUBPERFIL{
   width: 50%;
   margin: 50px auto 50px auto; 
   text-align: center
}

.skill-row{
    width: 50%;
    margin: 100px auto  100px auto;
    text-align:justify;
    line-height: 1.5;
    

}


.butn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    background: #79B3FF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #FFC627;
    text-decoration: none;
  }


.NUBE-INFERIOR{
    bottom: 890px ;
    position: absolute;
    left:300px;

    

}

.NUBE-SUPERIOR{
    
    position: absolute;
    top:10px;
    right:300px;

}